body{
  margin: 0;
  padding: 0;
   background:black;
}
  .gallery{
    display: flex;
    gap:15px;
    flex-wrap: wrap;
   margin: 20px;
    align-items: center;
   
   
  }
 .gallery img{
  width: 100%;
max-width: 600px;
object-fit: cover;
border-radius: 10px;
border: 2px solid black;
 }
 @media (max-width: 768px){

  .gallery{
    margin: 10px;
    gap: 10px;
  }

  .gallery img,
  .project-image,
  .rooms{
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
  }
}
 